
body{
    background-color: rgb(5, 5, 5);
}

.hold{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botIn{
    justify-content: space-around;
    background-color: rgb(84, 84, 84);
    width: 700px;
    height: 900px;
    border-radius: 25px;
    border-style: none;
    font-size: 40px;
    color:white;
}
.botIn:hover{
    background-color: rgb(124, 124, 124);
}